:root{
    --main-color: hsl(75.29deg 84.97% 69.55%);
    --background-color: hsl(75deg 31% 6.72%);
}

body{
    background-color: var(--background-color);
}
a{
    text-decoration: underline;
    color: currentColor;
}


.main{
    color: #fff;
    font-size: 1.5em;
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 800px;
}
.top-title{
    color: var(--main-color);
    width: 100%;
    font-size: 40px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 1000;
    font-variation-settings:"slnt" 0,"wdth" 151,"GRAD" 0,"ROND" 100;
}



.flex{
    display: flex;
}
.block{
    display: block;
}



.container {
    display: flex;
    height: 500px;
    border: 1px solid var(--main-color);
    background-color: #00000000;
    overflow: hidden;
    font-family: sans-serif;
    margin: 40px 0 0 0;
}

/* サイドバー（タブの親要素） */
.tabs {
    display: flex;
    flex-direction: column;
    width: 50px;
}

/* 各タブのスタイル */
.tab-item {
    padding: 0 5px 0 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
    background-color: var(--main-color);
    color: #000;
    font-size: 30px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-variation-settings:"slnt" 0,"wdth" 40,"GRAD" 0,"ROND" 100;

}

/* アクティブなタブ */
.tab-item.active {
    background-color: #00000000; /* コンテンツエリアと同じ背景色 */
    color: var(--main-color);
}

/* 右側のコンテンツエリア */
.content-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    color: var(--main-color);
}
.content> h2{
    font-size: 40px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-variation-settings:"slnt" 0,"wdth" 40,"GRAD" 0,"ROND" 100;
}

.content {
    display: none;
}

.content.active {
    display: block;
}




.info-item {
    display: flex;
    margin-bottom: 2px;
    font-size: 25px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings:"slnt" 0,"wdth" 60,"GRAD" 0,"ROND" 0;
}
.info-label {
    width: 100px;
    padding: 5px 10px 5px 10px;
    background-color: var(--main-color);
    color: var(--background-color);
    text-align: center;
}
.info-value {
    padding: 5px 10px 5px 10px;
    background-color: #00000000;
    color: var(--main-color);
}


.note{
    font-size: 20px;
    margin-top: 20px;
}



.app-item:hover{
    background-color: var(--main-color);
    color: var(--background-color);
}
.app-item{
    text-decoration: none;
}
.app-icon{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0;
}
.app-description{
    font-size: 16px;
}
.app-title{
    margin-top: 18px;
}